.container-car-search {
  .car-img-container {
    max-height: 190px;
    min-height: 150px;
  }

  .car-info-container {
    margin-left: 20px;

    .car-rank {
      font-size: 25px;
    }

    .car-description {
      padding-left: 15px;
    }
  }
}
