#car-list-content {
    margin-left: 10px;
    margin-right: 10px;

    #search-results-container {
        margin-top: 16px;
        display: flex;
        justify-content: center;

        #vehicles-paginate-container {
            width: 100%;
        }

        .pagination-and-counter-container {
            display: flex;
            justify-content: space-between;
        }
    }
}
