.car-rent-form-container {
    position: absolute;
    top: 20px;

    .reserve-widget-submit-button {
        background-color: #c93239;
        border-color: #c93239;
    }

    .reserve-widget-submit-button:hover {
        background-color: #eb545b;
        border-color: #eb545b;
    }
}
