#serach-results-container{
  margin-top:16px;
}

.car-img-container{
  max-height: 190px;
  min-height: 150px;
}

.car-info-container{
  margin-left: 20px;
}

.checked {
    color: orange;
}
