.car-img-container{
  min-height: 180px;
}

.car-single-item h2{
  text-align: center;
}

#car-item-container{
  height:600px;
  overflow-y: scroll;
}

.car-single-item-reservation:hover {
    border: 4px solid green;
    cursor: pointer;
}


