{
  "extends": "stylelint-config-standard",
  "customSyntax": "postcss-less",
  "rules": {
    "comment-empty-line-before": [
      "always",
      {
        "ignore": [
          "stylelint-commands",
          "after-comment"
        ]
      }
    ],
    "indentation": 4,
    "max-empty-lines": 1,
    "color-function-notation": "legacy"
  }
}