.full-body-login {
    flex: 1;
    justify-content: center;
    align-items: center;

    .login-link {
        a {
            color: #000;
        }
    }

    .custom-alert {
        margin-top: 0.75rem !important;
        padding: 0.25rem 1.25rem !important;
    }
}
