.personal-data-card {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .card-body {
        .form-group {
            .form-group-value {
                margin-left: 5px;
            }
        }
    }
}
