.user-list-subpage {
    .actions-column-item-container {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: 0 5px;
        }
    }
}
