.full-body-password-reset-update {
    .password-strength-bar-custom {
        margin-top: 10px;
    }

    .password-strength-bar-custom > div > div {
        height: 5px !important;
        border-radius: 0.25rem;
    }
}
