.vehicle-details-page {
    .load-more-comments {
        background-color: #c93239;
        border-color: #c93239;
    }

    .load-more-comments:hover {
        background-color: #eb545b;
        border-color: #eb545b;
    }
}
