.user-data-card-container {
    .user-data-card-body {
        .user-data-card-body-row {
            background-color: #fff;
            padding: 5px;
            justify-content: center;
        }
    }
}
