#our-team-container {
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

    h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0 !important;
        color: #222;
    }
}
