#car-types-round-images {
    .text-under-round-image {
        text-align: center;
        margin-top: 10px;
    }

    .car-item {
        opacity: 0.9;

        h2 {
            opacity: 0.9;
        }
    }

    .car-item:hover {
        opacity: 1;

        a:hover {
            text-decoration: none;
            color: #000;
        }
    }

    div {
        img {
            border-radius: 50%;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        }
    }
}
