.user-roles-table-item {
    display: block;
    color: #fff;
    background-color: #cd3d37;
    padding: 3px;
    margin: 2px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}
