footer {
  background-color: #3e3e3e;

  .container {
    .row {
      padding-top: 10px;
      padding-bottom: 10px;

      div {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}