#add-comment-container {
    .car-rank {
        font-size: 30px;
    }

    .leave-comment-button {
        background-color: #c93239;
        border-color: #c93239;
    }

    .leave-comment-button:hover {
        background-color: #eb545b;
        border-color: #eb545b;
    }
}
