#reservation-status-message-container {

    .home-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#reservation-status-image {
    width: 120px;
}