.reservation-panel-container {
    position: relative;
    height: 600px;

    .carousel-root {
        position: absolute;

        .control-dots {
            text-align: left;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        .slider-wrapper {
            height: 600px;
        }
    }

    .carousel-indicator {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    .carousel-indicator-active {
        opacity: 1;
    }
}
