.reservation-panel-container {
    position: relative;
    height: 600px;

    @media only screen and (max-width: 576px) {
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }

    @media only screen and (max-width: 992px) {
        height: 450px !important;
    }

    @media only screen and (max-width: 1500px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
    }

    .reservation-slide-container {
        @media only screen and (max-width: 1500px) {
            height: 600px !important;

            img {
                height: 600px !important;
            }
        }

        @media only screen and (max-width: 992px) {
            height: 450px !important;

            img {
                height: 450px !important;
            }
        }
    }

    .carousel-root {
        position: absolute;

        @media only screen and (max-width: 576px) {
            display: none;
        }

        @media only screen and (max-width: 1500px) {
            max-width: 1500px;
        }

        .control-dots {
            text-align: left;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        .slider-wrapper {
            height: 600px;

            @media only screen and (max-width: 992px) {
                height: 450px !important;
            }
        }
    }

    .carousel-indicator {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    .carousel-indicator-active {
        opacity: 1;
    }
}
