#search-filter-container {
    .search-filter-submit-button {
        background-color: #c93239;
        border-color: #c93239;
    }

    .search-filter-submit-button:hover {
        background-color: #eb545b;
        border-color: #eb545b;
    }
}
