.car-single-item-reservation {
    .car-img-container {
        min-height: 180px;
    }
}

.car-single-item-reservation:hover {
    border: 3px solid #009a00;
    cursor: pointer;
}

.selected-car {
    border: 3px solid #009a00;
    background-color: #32cd32;
}
