.sub-link-container {
    color: #333;
    cursor: pointer;
    display: flex;

    .sub-link {
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }

    &.selected-sub-link {
        font-weight: bold;
    }
}

.sub-link:hover {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.sub-link-container:hover {
    color: #333;
    cursor: pointer;
    background-color: #e6e6e6;
}
