.full-body-register {
    flex: 1;
    justify-content: center;
    align-items: center;

    .password-strength-bar-custom {
        margin-top: 10px;
    }

    .password-strength-bar-custom > div > div {
        height: 5px !important;
        border-radius: 0.25rem;
    }

    .login-link {
        a {
            color: #000;
        }
    }
}
