#register-panel-image-container{
  background: url(FrontendApp/src/static/img/front_image1.jpg);
  min-height: 450px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#car-types-round-images div img{
  border-radius: 50%;
  width:100%;
}

.text-under-round-image{
  text-align: center;
  margin-top:10px;
}

.carousel-item-styl{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}


.carousel-inner img {
  width: 100%;
  color:#ffffff;
  font-size:20px;
}

.background-img{
  text-align:center;
  height: 600px;


  color:#ffffff;
  font-size:20px;
}


.carousel-header-container{
  text-align: center;
  color: #faaf1b;
  font-family: "Helvetica";
}

.carousel-text-container{
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-size: 18px;
}

.carousel-header-container-second-tile{
  color:#ffffff;
  font-family: "Helvetica";
}

.carousel-header-container-third-tile{
  color:#ffffff;
  font-family: "Helvetica";
  text-align: center;

}
