.mobile-page-panel-container {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 30px 0;
    margin: 0 !important;

    .mobile-image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            width: 100%;
            max-width: 650px;
        }
    }

    .download-app-container {
        padding: 0 50px;

        .download-app-text-container {
            font-size: 32px;
            font-weight: bold;

            @media only screen and (max-width: 576px) {
                text-align: center;
            }
        }

        .download-app-description-container {
            margin-top: 25px;

            @media only screen and (max-width: 576px) {
                text-align: justify;
            }
        }

        .download-app-links-qr-container {
            align-items: center;
            padding-top: 25px;
            padding-left: 15px;

            @media only screen and (max-width: 576px) {
                margin-left: auto;
                margin-right: auto;
            }

            .download-app-links-container {
                .download-app-link {
                    background-color: #000;
                    color: #fff;
                    min-width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    margin: 10px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    text-decoration: none;
                    width: 100%;
                    max-width: 250px;

                    .download-app-link-icon {
                        font-size: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 10px;
                        min-width: 35px;
                    }

                    .download-app-link-text {
                        font-size: 15px;
                        padding: 5px;
                        line-height: 20px;

                        .download-app-link-download-on-text {
                            font-size: 12px;
                        }

                        .download-app-link-shop-name {
                            font-weight: bold;
                        }
                    }
                }

                .download-app-link:hover {
                    background-color: #222;
                }

                @media only screen and (max-width: 576px) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .download-app-qr-container {
                text-align: center;
                margin-left: 15px;

                @media only screen and (max-width: 576px) {
                    margin-left: auto;
                    margin-right: auto;
                }

                img {
                    height: 140px;
                }
            }
        }
    }
}
