#best-rental {
  text-align: center;
  min-height: 450px;
  background: url(../../../../../images/road_img_2.jpg) no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 10px;

  div {
    h1 {
      font-size: 70px;
      padding-top: 50px;
    }

    p {
      margin-top: 60px;
      font-size: 20px;
    }
  }
}
