a {
    text-decoration: none;
    color: #000;
}

.linkstyle {
    text-decoration: none;
    color: #fff;
}

.link-style-black {
    text-decoration: none;
    color: #000;
}

/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@font-face {
    font-family: lato;
    src: url("fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: lato, sans-serif !important;
}
