#main-nav {
    border-bottom: 1px solid black;
    background-color: #fff;

    #main-nav-logo-img {
        width: 200px;
    }

    .navbar-default {
        .navbar-toggle {
            .icon-bar {
                color: black;
            }
        }
    }
}
