.table-container {
    .table-content-container {
        overflow-x: auto;
        max-width: 100%;
        padding: 0 10px;

        .react-table-customization {
            thead tr {
                color: #3c3c3c !important;
            }

            tbody tr:hover {
                background-color: #f1f3fb !important;
            }

            .custom-table-header-container {
                display: flex;

                .custom-table-header-text {
                    margin-right: auto;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    .sort-icon {
                        margin-right: 10px;
                    }
                }

                .custom-table-header-filter {
                    margin-left: auto;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .table-content-container::-webkit-scrollbar {
        //display: none;
    }
}

.filter-card {
    --box-shadow-1: 0, 0, 0;
    --box-shadow-2: 255, 255, 255;

    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(var(--box-shadow-1), 25%), 0 2px 8px rgba(var(--box-shadow-1), 25%), inset 0 0 0 1px rgba(var(--box-shadow-2), 10%);

    input {
        width: 150px;
    }

    button {
        margin-left: 10px;
    }
}
