.table-container {
    --box-shadow-1: 0, 0, 0;

    .table-content-container {
        overflow-x: auto;
        max-width: 100%;
        padding: 0 10px;
        margin: 10px 0;

        .react-table-customization {
            thead tr {
                color: #3c3c3c !important;

                th:hover {
                    .filter-icon {
                        opacity: 1 !important;
                    }
                }
            }

            tbody tr:hover {
                background-color: #f1f3fb !important;
            }

            .custom-table-header-container {
                display: flex;

                .custom-table-header-text {
                    margin-right: auto;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    .sort-icon {
                        margin-right: 10px;
                    }
                }

                .custom-table-header-filter {
                    margin-left: auto;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .table-content-container::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .table-content-container::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: #f7f7f7;
        border: 1px solid #cacaca;
        box-shadow: inset 0 0 4px rgba(var(--box-shadow-1), 30%);
    }

    .table-content-container::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #d5d5d5;
    }
}

.filter-card {
    --box-shadow-1: 0, 0, 0;
    --box-shadow-2: 255, 255, 255;

    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(var(--box-shadow-1), 25%), 0 2px 8px rgba(var(--box-shadow-1), 25%), inset 0 0 0 1px rgba(var(--box-shadow-2), 10%);

    input {
        width: 150px;
    }

    button {
        margin-left: 10px;
    }
}

.dropdown-filter-content-container {
    .filter-icon {
        opacity: 0;
        transition: visibility 0.1s linear, opacity 0.1s linear;
    }

    .filter-icon-active {
        opacity: 1;
    }
}
