#footer-contacts {
    margin-left: 10px;
    color: #636363;
    display: flex;
    justify-content: center;

    a {
        color: #636363;
        text-decoration: none;
    }

    i {
        font-size: 15px;
    }

    .contacts-container {
        display: flex;
        flex-direction: column;
        width: 50%;

        .contact-container {
            width: 200px;
            line-height: 40px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin-left: auto !important;
            margin-right: auto !important;

            .contacts-container-icon {
                width: 20%;
            }

            .contacts-container-text {
                width: 80%;
            }
        }
    }

    .font-awesome-additional-styles {
        float: left;
        font-size: 20px;
        width: 30px;
    }

    .contact-text {
        margin-bottom: 0;
        margin-left: 10px;
        font-size: 15px;
    }
}
