.item {
    color: #000;

    .container-car-search {
        .car-img-container {
            max-height: 190px;
            min-height: 150px;
        }

        .car-info-container {
            margin-left: 20px;

            .car-rank {
                font-size: 25px;
            }

            .car-description {
                padding-left: 15px;
            }
        }

        .special-offer-vehicle-item {
            height: 90px;
            width: 80px;
            position: absolute;
            top: -20px;
            left: -30px;
        }

        .special-offer-vehicle-item:hover {
            background-color: transparent;
        }
    }

    .container-car-search:first-child {
        margin-top: 0 !important;
    }

    :hover {
        background-color: #eee;
    }
}
