.item {
    color: #000;

    .container-car-search {
        .car-img-container {
            max-height: 190px;
            min-height: 150px;
        }

        .car-info-container {
            margin-left: 20px;

            .car-rank {
                font-size: 25px;
            }

            .car-description {
                padding-left: 15px;
            }
        }

        .special-offer-vehicle-item {
            height: 40px;
            width: 140px;
            position: absolute;
            top: -10px;
            left: -10px;
            padding: 0.5rem 0.25rem;
            border-radius: 0.25rem;
            background-color: #faf9fc;
            color: #cd3737;
            border-color: #cd3737;
        }
    }

    .container-car-search:first-child {
        margin-top: 0 !important;
    }

    :hover {
        background-color: #eee;
    }
}
