#car-rental-description {
    text-align: center;
    min-height: 450px;
    background-image: linear-gradient(to right, #434343 0%, #222 100%);
    background-size: cover;
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;

    #car-rental-logo-desc {
        max-width: 100%;
        height: auto;
    }
}
