#car-rental-description {
    text-align: center;
    min-height: 450px;
    background: url(../../../../../images/road_img_1.jpg) no-repeat fixed center;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;

    #car-rental-logo-desc {
        max-width: 100%;
        height: auto;
    }
}
