#car-details-image {
    min-height: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.daily-fee-container {
    height: 50px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
