#footer-copyright {
    background-color: #000;
    color: #fff;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-size: 13px;

    a {
        color: #fff;
    }
}
